@import url(".//../App/App.css");

.form-space {
  padding: 16px 32px;
  width: 760px;
  border-radius: 10px;
  border: none;
}
.form-background {
  width: 1000px;
  padding: 52px 64px;
  background-image: url("../../../public/images/bg-shorten-desktop.svg");
  background-color: var(--booster-background);
  /* z-index: 1; */
  /* transform: translate(-.1rem, 14ex); */
  border-radius: 10px;
  margin: auto;
}
button {
  padding: 17px 40px;
  background-color: var(--primary-color);
  color: var(--header-background);
  border: none;
  border-radius: 10px;
  font-weight: 700;
  margin-left: 24px;
  cursor: pointer;
}
button:hover {
  background-color: var(--primary-hover);
}
.result_div {
  width: 1000px;
  background-color: var(--booster-background);
}
.copy_button {
  text-align: center;
  padding: 10px 30px;
}
.copy_button:focus {
  background-color: var(--booster-background);
}
.copy_button:hover {
  background-color: var(--primary-hover);
}
section {
  background-color: var(--header-background);
  width: 1060px;
  margin: auto;
  margin-top: 16px;
  z-index: 1;
  border-radius: 10px;
  padding: 18px 32px;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
}
hr{
  display: none;
}
.results-display {
  max-height: auto;
}

.short_link {
  color: var(--primary-color);
  padding-left: 35rem;
}
.new-div {
  background-color: black;
}
.error-message {
  color: red;
  margin: 0;
}
.has-error {
  border: 2px solid red;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .form-background {
    width: 250px;
    left: 2.5rem;
    padding: 24px;
    margin-top: 110px;
  }

  .form-space {
    width: 165px;
    margin: auto;
    padding: 10px 40px;
  }
  button {
    font-size: 12px;
    padding: 10px 92px;
    margin-top: 12px;
    margin-left: 0;
  }
  section {
    width: 240px;
    display: block;
  }
  hr{
    display: block;
    
  }
  .short_link {
    padding: 0;
  }
  .copy_button {
   
    width: 240px;
  }
  p {
    text-align: left;
  }
}
