nav{
    /* display: flex; */
  /* justify-content: space-around; */
  display: grid;
  grid-template-columns: .3fr .2fr .2fr .5fr 1fr ;
 padding-left: 5rem;
 padding-bottom: 5rem;


}
.links{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #9E9AA8;
}

@media screen and (min-width: 320px) and (max-width:480px){
    nav a{
      display: none;
    }
    a.links{
        display: none;
    }
}