
.sign{
    display: flex;
    align-self: center;
    padding-left: 15rem;
   
}
.sign a{
    text-decoration: none;
    margin-left: 20px;
    padding: 10px;
    color: #9E9AA8;
}
#signup{
    color: #fff;
    background-color: #2BD0D0;
    padding: 9px 24px;
    border-radius: 28px;
    font-size: 15px;
}
.logo{
    object-fit: contain;
padding-top: 5px;

}