@import url('.//../App/App.css');
.sign{
    display: flex;
    align-self: center;
    padding-left: 15rem;
   
}
.sign a{
    text-decoration: none;
    margin-left: 20px;
    padding: 10px;
    color: var(--text-color);
   
}
.sign a:hover{
    color: var(--footer-background);
}
#signup{
    color: var(--header-background);
    background-color: var(--primary-color);
    padding: 9px 24px;
    border-radius: 28px;
    font-size: 15px;
}
#signup:hover{
    background-color: var(--primary-hover);
}
.logo{
object-fit: contain;
padding-top: 5px;
padding-left: 7.5rem;
}

@media screen and (min-width: 320px) and (max-width:480px) {
.logo{
    width: 120px; 
  
 
}


}