@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
:root {
  --header-background: #fff;
  --primary-color: #2bd0d0;
  --stats-background: #f2f2f2;
  --booster-background: #3a3054;
  --footer-background: #000;
  --text-color: #9e9aa8;
  --primary-hover: #9ae3e3;
}

/* white header */
.shortly_header {
  background-color: var(--header-background);
  height: 700px;
  padding-top: 30px;
  position: relative;
}
.flex-text {
  display: flex;
}
.flex-text a {
  padding: 14px 40px;
  background-color: var(--primary-color);
  text-decoration: none;
  color: var(--header-background);
  border-radius: 28px;
  margin-left: 5rem;


}
.flex-text a:hover {
  background-color: var(--primary-hover);
}
.flex-text h3 {
  margin-left: 5rem;
  width: 500px;

}
.large-text {
  font-size: 80px;
  margin-left: 5rem;
  line-height: 1;
}
.worker-img {
  width: 600px;
  object-fit: contain;
}

/* stats board */

.card-hr{
  transform: translate(-.1rem, 27ex);
  width: 1000px;
  height: 10px;
  border: none;
  background-color: var(--primary-color);
}

.statistics {
  background-color: var(--stats-background);


}
.statistics h4,
.statistics h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.statistics h4 {
  padding: 0 400px;
  color: var(--text-color);
}
.statistics h2 {
  padding-top: 120px;
}

/* boost */
.boost_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 250px;
  background-image: url("../../../public/images/bg-boost-desktop.svg");
  background-color: var(--booster-background);
  color: var(--header-background);
}
.boost_section h1 {
  margin: 0;
}
.boost_section a {
  text-decoration: none;
  color: var(--header-background);
  background-color: var(--primary-color);
  padding: 14px 40px;
  border-radius: 28px;
  margin-top: 20px;
}
.boost_section a:hover {
  background-color: var(--primary-hover);
}
/* footer */
.footer * {
  color: #fff;
}
.footer {
  padding: 72px 165px;
  background-color: var(--footer-background);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1.5fr;
}

.footer h3 {
  margin: 0;
}
.footer ul li {
  list-style: none;
  color: #bfbfbf;
}
.footer ul li:hover{
color: var(--primary-color);
cursor: pointer;
}
.footer ul {
  padding: 0;
}
#media-icon{
  display: inline-block;
}
#media-icon:not(:first-child){
  padding-left: 20px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .flex-text {
    display: flex;
    flex-direction: column-reverse;
  }
  .flex-text h3 {
    text-align: center;
    margin-left: 0;
    font-size: 18px;
    width: 327px;
    margin: auto;
    color: var(--text-color);
  }
  .large-text {
    font-size: 42px;
    text-align: center;
    margin-left: 0;
  }
  .worker-img {
    width: 327px;
    margin: auto;
  }
  .flex-text a {
    margin-left: 89px;
    position: absolute;
    margin-top: 32px;
  }
  .shortly_header {
    height: 800px;
  }
  .statistics h2 {
    padding-top: 30%;
    margin: 0;
  }
  .statistics {
    height: 1300px;
  }
  .statistics h4 {
    padding: 12px 0;
  }
  .boost_section h1 {
    font-size: 28px;
  }
  /* hr {
    display: none;
  } */
  .card-hr{
    display: none;
    /* transform: rotate(90deg); */
    width: 1000px;
    height: 10px;
    border: none;
    background-color: var(--primary-color);

  }
  .footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px 100px;
  
  }
  .footer * {
    margin-top: 10px;
  }
  .footer img {
    color: #fff;
  }
  #media-icon:not(:first-child){
    padding: 0;
  }
 
}
