@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
:root {
  --header-background: #fff;
  --primary-color:#2bd0d0;
  --stats-background: #f2f2f2;
  --booster-background: #3a3054;
  --footer-background: #000;
}

/* white header */
.shortly_header {
  background-color: var(--header-background);
  height: 700px;
  padding-top: 30px;
  position: relative;
}
.flex-text {
  display: flex;
}
.flex-text a {
  padding: 14px 40px;
  background-color:var(--primary-color);
  text-decoration: none;
  color: var(--header-background);
  border-radius: 28px;
  margin-left: 5rem;
}
.flex-text h3 {
  margin-left: 5rem;
  width: 500px;
}
.large-text {
  font-size: 80px;
  margin-left: 5rem;
  line-height: 1;
}
.worker-img {
  width: 600px;
  object-fit: contain;
}
/* stats board */
hr {
  position: absolute;
  top: 500px;
  left: 400px;
  width: 600px;
  height: 10px;
  background-color: var(--primary-color);
  border: none;
}
.statistics {
  position: relative;
  background-color: var(--stats-background);
  height: 800px;
}
.statistics h4,
.statistics h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.statistics h4 {
  padding: 0 400px;
  color: #9e9aa8;
}
.statistics h2 {
  padding-top: 10%;
}

/* boost */
.boost_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 250px;
  background-image: url("../../../public/images/bg-boost-desktop.svg");
  background-color: var(--booster-background);
  color: var(--header-background);
}
.boost_section h1 {
  margin: 0;
}
.boost_section a {
  text-decoration: none;
  color: var(--header-background);
  background-color: var(--primary-color);
  padding: 14px 40px;
  border-radius: 28px;
  margin-top: 20px;
}

/* footer */
.footer{
   background-color: var(--footer-background);
}
.footer h3{
    margin: 0;
}
.footer ul li{
    list-style: none;
    
}
.footer ul{
  padding: 0;
}